body {
	background-color: #b7d1c4
}

#cover {
    background: url("http://f1.bcbits.com/img/a0422430750_16.jpg");
	height: 700px;
	width:  700px;

}
h5 {
    font-family: inherit
}
h2 {
    font-family: sans-serif
}
li {
    font-style: italic
}